<!DOCTYPE html>
<html>
<head>
	<title>Efee | Payments made easy</title>
	<script src="https://use.fontawesome.com/0db49cc8b3.js"></script>
	<link rel="stylesheet" href="//localhost:3000/styles/main.css">
	<link rel="stylesheet" href="//localhost:3000/styles/header.css">
	<link rel="stylesheet" href="//localhost:3000/styles/footer.css">
	<script type="text/javascript">
		function loadScript() {
		  var lrHost = location.protocol + '//' + location.hostname + ':35729';
		  var s = document.createElement('script');
		  s.async = true;
		  s.setAttribute('src', lrHost + '/livereload.js');
		  document.body.appendChild(s);
		}

		window.onload = loadScript;
	</script>
</head>
<body>
	<header>   
		<div class="header-container">
			<div class="logo-contianer">
	    		<i class="logo fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
	    		<div class="logo-text">
	    			Efee
	    		</div>	    		
    		</div>    
    		<div class="punch-line">
    				Fee Payment Made Easy
			</div>
			<div class="social-actions">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
				<i class="fa fa-flickr" aria-hidden="true"></i>
				<i class="fa fa-google-plus-official" aria-hidden="true"></i>
				<i class="fa fa-youtube" aria-hidden="true"></i>
			</div>
			<div class="header-options">
				<span class="selected">Home</span>
				<span>Offers</span>
				<span>Benefits</span>
				<span>Gallery</span>
			</div>					
		</div>
	</header>

	<body>

	</body>

	<footer>

		<div class="footer-container">
			<div class="company-logo">

			</div>
			<div class="">
			</div>
		</div>	

		<div class="payment-sources">
			Secure payments powered by
			<div class="payment-images">
				<img src="http://localhost:3000/images/payyou.jpg" />
				<img src="http://localhost:3000/images/ccavenue.jpg" />
				<img src="http://localhost:3000/images/hdfc.jpg" />
			</div>
		</div>
	</footer>
</body>
</html>