<!DOCTYPE html>
<html>
<head>
	<title>Efee | Payments made easy</title>
	<script src="https://use.fontawesome.com/0db49cc8b3.js"></script>
	<link rel="stylesheet" href="//localhost:3000/styles/main.css">
	<link rel="stylesheet" href="//localhost:3000/styles/header.css">
	<link rel="stylesheet" href="//localhost:3000/styles/footer.css">
	<link rel="stylesheet" href="//localhost:3000/styles/testimonials.css">
	<link rel="stylesheet" href="//localhost:3000/styles/midsection.css">
	<script type="text/javascript">
		function loadScript() {
		  var lrHost = location.protocol + '//' + location.hostname + ':35729';
		  var s = document.createElement('script');
		  s.async = true;
		  s.setAttribute('src', lrHost + '/livereload.js');
		  document.body.appendChild(s);
		}

		window.onload = loadScript;
	</script>
</head>
<body>
	<header>   
		<div class="header-container">
			<div class="logo-contianer">
	    		<i class="logo fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
	    		<div class="logo-text">
	    			Efee
	    		</div>	    		
    		</div>    
    		<div class="punch-line">
    				Fee Payment Made Easy
			</div>
			<div class="social-actions">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
				<i class="fa fa-flickr" aria-hidden="true"></i>
				<i class="fa fa-google-plus-official" aria-hidden="true"></i>
				<i class="fa fa-youtube" aria-hidden="true"></i>
			</div>
			<div class="header-options">
				<span class="selected">Home</span>
				<span>Offers</span>
				<span>Benefits</span>
				<span>Gallery</span>
			</div>					
		</div>
	</header>

	<section id="midsection">
		<div class="main-content">
			<div class="tab-conatainer">
				<div class="tab">
					Search
				</div>
				<div class="tab">
					Efee ID
				</div>
				<div class="tab">
					Enrollment
				</div>
				<div class="tab">
					Download Receipt
				</div>
			</div>
			<div class="tab-content">

			</div>
		</div>	
	</section>

	<section>
		<div class="testomonial">

		</div>
	</section>

	<footer>

		<div class="footer-container">			
			<div class="sub-footer">
				<div class="footer-title">
					OTHER PAGES
				</div>
				<div class="footer-sub-item">
					How it Works !
				</div>
				<div class="footer-sub-item">
					Blogs
				</div>
				<div class="footer-sub-item">
					Site Map
				</div>
			</div>
			<div class="sub-footer">
				<div class="footer-title">
					INFO
				</div>
				<div class="footer-sub-item">
					About Us
				</div>
				<div class="footer-sub-item">
					Offers
				</div>
				<div class="footer-sub-item">
					Privacy Policy
				</div>
				<div class="footer-sub-item">
					Refunds & Cancellation
				</div>
				<div class="footer-sub-item">
					Contact Us
				</div>
			</div>
			<div class="sub-footer">
				<div class="footer-title">
					AFFILIATIONS
				</div>
				<div class="footer-sub-item">
					St.Vincent School, Pune
				</div>
				<div class="footer-sub-item">
					S M Shetty School, Mumbai
				</div>				
			</div>
			<div class="sub-footer">
				<div class="footer-title">
					GET IN TOUCH
				</div>
				<div class="footer-sub-item">
					<i class="fa fa-facebook" aria-hidden="true"></i>	
					Facebook								
				</div>
				<div class="footer-sub-item">
					<i class="fa fa-flickr" aria-hidden="true"></i>
					Flickr
				</div>
				<div class="footer-sub-item">
					<i class="fa fa-google-plus-official" aria-hidden="true"></i>
					Google Plus
				</div>
				<div class="footer-sub-item">
					<i class="fa fa-youtube" aria-hidden="true"></i>
					Youtube
				</div>			
			</div>
			<div class="sub-footer">
				<div class="footer-title">
					ADDRESS
				</div>
				<div class="footer-sub-item">
					A2-407, Lok Gaurav Apartment, Opp. TCS Empire Plaza, LBS Marg,
					Near Gandhinagar Junction, Vikhroli (W), Mumbai-4000072
				</div>	
				<div class="footer-sub-item">
					Call : +91 9892024202
				</div>	
				<div class="footer-sub-item">
					Email : support@efee.in
				</div>	
			</div>
		</div>	

		<div class="payment-sources">
			<div class="efee-original-logo">
				<img src="http://localhost:3000/images/elogo.png" />
			</div>
			<div class="sinwin-text">Copyright © 2015 Sinwin Consultants Private Limited. All Rights Reserved.   </div>
			<div class="secure-payment-text">Secure payments powered by </div>
			<div class="payment-images">
				<img src="http://localhost:3000/images/payyou.jpg" />
				<img src="http://localhost:3000/images/ccavenue.jpg" />
				<img src="http://localhost:3000/images/hdfc.jpg" />
			</div>			
		</div>
	</footer>
</body>
</html>